name: Renovate Checks

on:
  push:
    branches:
      - 'renovate/**'

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        
    - name: Install
      run: npm ci
        
    - name: Lint
      run: npm run lint
        
    - name: Lint Tests
      run: npm run lint:tests
      
  build-and-test:
    name: "Build and Test"
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        
    - name: Install
      run: npm ci
        
    - name: Build
      run: npm run build:clean
      
    - name: Test
      run: npm run test
      
