name: Renovate Checks

on:
  push:
    branches:
      - 'renovate/**'
      
env:
  NODE_VERSION: '14'

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{env.NODE_VERSION}}
        
    - name: Install
      run: npm ci
        
    - name: Lint
      run: npm run lint
        
    - name: Lint Tests
      run: npm run lint:tests
      
  build:
    name: "Build"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{env.NODE_VERSION}}

    - name: Install
      run: npm ci
      
    - name: Build
      run: npm run build
      
  test:
    name: "Test and Coverage"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{env.NODE_VERSION}}

    - name: Install
      run: npm ci
      
    - name: Init
      run: npm run init
      
    - name: Test and Coverage
      run: npm run test:cov
      
  test-e2e:
    name: "Test End to End"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{env.NODE_VERSION}}

    - name: Install
      run: npm ci
      
    - name: Init
      run: npm run init
      
    - name: Test End to End Functions
      run: npm run test:e2e
      
  seed:
    name: "Test Seed"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{env.NODE_VERSION}}

    - name: Install
      run: npm ci
      
    - name: Init
      run: npm run init
      
    - name: Seed
      run: npx prisma db seed --preview-feature

      
